<%= form_for(lol) do |f| %>
  <% if lol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lol.errors.count, "error") %> prohibited this lol from being saved:</h2>

      <ul>
      <% lol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
