<p id="notice"><%= notice %></p>

<h1>Lols</h1>

<table>
  <thead>
    <tr>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lols.each do |lol| %>
      <tr>
        <td><%= lol.password %></td>
        <td><%= link_to 'Show', lol %></td>
        <td><%= link_to 'Edit', edit_lol_path(lol) %></td>
        <td><%= link_to 'Destroy', lol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lol', new_lol_path %>
