<h1>List of articles</h1>

<div class="section">
<div class="row">	
	<div class="col s12">
		<table class="striped bordered">
			<tr>
				<th>Title</th>
				<th>Text</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<% @articles.each do |article| %>    
		    	<tr>
			    	<td><%= article.title %></td>
			        <td><%= article.text.truncate(100) %></td> 
					<td><%= link_to "Show", article_path(article), :class => "btn waves-effect waves-light" %></td>
					<td><%= link_to "Edit", edit_article_path(article), :class => "btn waves-effect waves-light orange" %></td>
					<td><%= link_to "Delete", article_path(article), :class => "btn waves-effect waves-light red",
						method: :delete,
						data: { confirm: 'Are you sure ?'} %></td>
				</tr>
			<% end %>
		</table>
	</div>	
</div>    
</div>