<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="bordered striped">
  <thead>
    <tr>
      <th>Login</th>
      <th>Password</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.password %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, :class => "btn waves-effect waves-light" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class => "btn waves-effect waves-light orange" %></td>
        <td><%= link_to 'Destroy', user, :class => "btn waves-effect waves-light red", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
