<!DOCTYPE html>
<html>
  <head>
    <title>Workshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Add article", new_article_path %></li>
        <li><%= link_to "Return to list", articles_path %></li>
        <li><%= link_to "Add user", new_user_path %></li>
        <li><%= link_to "List user", users_path %></li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>